<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Groups</h1>
	</div>
</div>


<div class="row">
	<div  ng-repeat="item in groups">
		<div class="col-lg-6">
			<div class="panel panel-{{item.group.color}}">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>Group {{item.group.letter}}</h3>
				</div>
				<div class="panel-body">
					<div ng-activity-indicator="CircledGrey"></div>
					<div ng-show="!AILoading">
							
						<group teams="item.group.teams"></group>
						<canvas id="polar-area" class="chart chart-pie" data="item.group.data"
								labels="item.group.labels" legend="true"></canvas>
							
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>